@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(235, 252, 252);
  color: rgb(10, 10, 1);
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}

.section .container{
  max-width:100%;

}

.header{
  text-align: center;
  padding: 1rem;
  margin-left: 0rem;

}

html{
font-size: 16px;
}

.header h1{
  font-size: 2rem;
  margin-bottom: 0.5rem;
}


.header a{
  text-decoration: none;
  padding: 1rem 1rem;
  margin-top: 7rem;
}


.skill {
  text-align: center;
  margin-top: 1rem;
}

.skill h3{
  padding: 0.5rem;
  font-size: 1rem;
}

.skill h1{
  font-size: 1rem;
}

.Project {
  text-align: center;
  font-size: 0.rem;
  display: grid;
  place-content: center;
  padding: 1rem;

}
.Porject_title hr{
width: 80%;
}



.experience{
  text-align: center;
  margin-top: 4rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.experience p{
  margin-top: 1rem;
  margin-bottom: 4rem;
}



.address  {
text-align: center;
display: flex;
justify-content: right;
margin-top: -3rem;
}

.education_1{
  display: flex;
  justify-content: center;
  place-items: center;
}

.date {
  display: flex;
  justify-content: right;
}

.other{
  padding: 1rem;
}

.Languages {
  display: grid;
  justify-content: center;
  margin-top: -5.5rem;
}

.other_Information{
  display: grid;
  justify-content: right;
  place-items: right;
  margin-top: -5rem;
}

.footer {
  text-align: center;
  margin-top: 1rem;
}

@media screen (max-width: 768px){
body{
  width:60%;
}
  
}
@media screen (max-width:425px){
body{
  width:30%;
  display:grid;
  }

  
.Languages {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
}

.other_Information{
  display: grid;
  justify-content: right;
  place-items: right;
  margin-top: -5rem;
}

}


@media screen (max-width: 1024px){

}
